.main-container {
  color: white;
  top: 25vh;
  width: 100%;
}

.main-h3 {
  position: absolute;
  font-weight: lighter;
  visibility: hidden;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(255, 255, 255);
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation: typing 3.5s 11s steps(45), blink-caret .75s step-end infinite, cssAnimation 0s 11s forwards;
  ;
}

@keyframes cssAnimation {
  to {
    visibility: visible;
  }
}

/* The typing effect */

@keyframes typing {
  from {
    width: 0;
    /* position: absolute; */
  }
  to {
    width: 100%;
    position: absolute;
  }
}

/* The typewriter cursor effect */

@keyframes blink-caret {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: rgb(255, 255, 255);
  }
}

#text-state {
  animation-name: mainText;
  animation-duration: 2s;
}

@keyframes mainText {
  from {
    color: black;
  }
  to {
    color: white;
  }
}

#mainwebdev {
  position: absolute;
  top: -71px;
  right: 84px;
  width: 70%;
}

#portfolio-button {
  margin-top: 80px;
  color: #00acfc;
  border-color: #00acfc;
  font-size: 30px;
  background-color: transparent;
  box-shadow: 2px 1px 0px #00acfc;
}

#portfolio-button:hover {
  color: #000;
  border-color: #000;
  background-color: #00acfc;
  font-size: 30px;
}

#contact-button, #send-button {
  margin-top: 80px;
  margin-left: 50px;
  color: #695ca8;
  border-color: #695ca8;
  font-size: 30px;
  background-color: transparent;
  box-shadow: 2px 1px 0px #695ca8;
}

#contact-button:hover, #send-button:hover {
  color: #000;
  border-color: #000;
  background-color: #695ca8;
  font-size: 30px;
}

.row-container {
  position: relative;
}