body {
  font-family: 'Nunito', sans-serif;
}

.main-img {
  width: auto;
  height: 315px;
  margin-top: 15px;
}

.header-container {
  height: 350px;
  /*! background: linear-gradient(60deg,#543ab7,#00acc1); */
  background: linear-gradient(-45deg, #1F9FE0 0, #2196F3);
  /* margin-left: 25px; */
}

.h2-title {
  height: 85px;
  padding-top: 19px;
  background-color: #29d3b2;
  color: white;
}

.header-title {
  font-size: 40px;
  color: white;
  position: absolute;
  left: 2%;
  top: 10%;
  overflow: hidden;
  /* animation: animated-text 5s steps(48, end) 1s 1 normal both; */
  white-space: nowrap;
}

.header-box {
  color: white;
  margin-top: 20px;
  padding-left: 50px;
}

.header-h1 {
  padding-bottom: 20px;
}

.header-info {
  /* float: left; */
  font-size: 25px;
  padding-right: 25px;
}

/* text animation */

@keyframes animated-text {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.mern-list-container {
  width: 100%;
  margin: 0 auto;
  /* height: 300px; */
}

.mern-list {
  padding: 20px 30px;
  margin: 0 auto;
}

.card {
  margin: 0 auto;
  width: 20rem;
  border-radius: 5px;
  box-shadow: 1px 1px 6px #8c8c8c;
}

.card-img-top {
  height: 180px;
  object-fit: cover;
}

.card-text {
  width: 90%;
  margin: 0px auto;
  margin-bottom: 20px;
}

.card-title {
  padding-left: 20px;
  font-size: 30px;
  padding-top: 20px;
}

.cards-home-container {
  width: 100%;
  margin: 20px auto;
}

.cards-home-container {
  background-color: #eee;
  padding: 40px 25px;
}

.jared-img {
  width: 116px;
    border-radius: 50%;
    height: auto;
    margin-left: 20px;
}

.footer-text{
  /* display: block; */
  margin: 0 auto;
}

.list-group-item:active {
  background-color: #f77b55;
  border: 1px solid #f77b55;
  color: white;
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #f77b55;
  border-color: #f77b55;
}

.btn-primary {
  width: 75%;
  margin: 20px auto;
  object-position: bottom;
}

.tab-content{
  padding-top: 20px;
  width: 90%;
  line-height: 1.5;
  font-size: 18px;
}

.about-section{
  display: block;
    margin: 0 auto;
}

.footer-container{
  padding: 30px 0px;
  background: #272727;
  color: white;
  font-size: 18px;
}

.footer-text{
  float: right;
}