html {
  scroll-behavior: smooth;
}

section {
  scroll-snap-align: start;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
}

select.form-control, textarea.form-control, input.form-control {
  font-size: 1rem;
}

input[type=file] {
  width: 100%;
}