.languages-container {
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.904);
  padding-top: 50px;
}

.language-logo {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-top: 40px;
}

#Node-logo {
  width: 200px;
  height: 57px;
  margin-top: 51px;
}

#expressjs-logo {
  width: 175px;
  height: 175px;
  margin-top: 0px;
}